*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** Utility */
.shadow{
    box-shadow: 5px 10px 18px #888888;
}

img{
    max-width: 50px;
    border-radius: 50%;
}

input{
    border: none;
}

.hidden{
    display: none;
}

.date{
    font-size: 10px;
}

.fa-chevron-down{
    font-size: 12px;
    filter: opacity(.3);
    position: relative;
}

/** Colore di Background */
#background{
    width: auto;
    height: 100vh;
    background-color: #009688;
    background-image:
      linear-gradient(
        to bottom, 
        #009688,
        #009688 15%,
        #DCDBD2 15%,
        #DCDBD2 85%,
        #DCDBD2 85%
    );

}
.bg-lightgray{
    background-color: #EAEAEA;
}
.bg-lightblue{
    background-color: #8EDAFC;
}

.selected{
    background-color: rgb(221, 221, 221);
}
.active:hover{
    background-color: rgb(235, 235, 235);
}


/* # colors */
.color-gray{
    color: #B1B1B1;
}
.color-darkgray{
    color: #757575;
}
.color-lightblue{
    color: #8EDAFC;
}
.color-lightgray{
    color: #cacaca;
}

/* # sections */

/* Notification Section */

#notification-box{
    width: 50px;
    height: 50px;
    margin-right: 2px;
}

/* Contacts Section */

#contacts-section{
    height: 398px;
    overflow-y: auto;
}

#chat-bg{
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
    display: flex;
    height: 450px;
    flex-grow: 1;
}

/* Chat section */

.message-container{
    display: flex;
}
.message-container.sent{
    justify-content: flex-end;
}
.message-container.received{
    justify-content: flex-start;
}
.message-container.sent .message{
    background-color: #d5f9ba;
}
.message-container.received .message{
    background-color: #FFF;
}

/* text */

.size-medium{
    font-size: 12px;
}
.size-big{
    font-size: 16px;
}
.size-bigger{
    font-size: 20px;
}

/* Button */

/* .list-button{
    border: 0;
    border-radius: 50rem;
    background-color: transparent;
} */

/* Arrow Button */
.drop{
    position:relative;
}

.drop-menu{
    position: absolute;
    top: calc(100% + .10rem);
    right: 0;
    background-color: #fff;
    padding: .75rem;
    margin: 5px;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    display: none;
}

.drop > .drop-button:focus + .drop-menu{
    display: block;
}

.drop-button{
    background-color: transparent;
    border: 0;
}